@import "bootstrap/scss/bootstrap.scss";

* {
    font-family: 'Montserrat', sans-serif, Arial;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*display: flex;*/
    /*justify-content: center;*/
}

#root-container {
    /*display: flex;*/
    /*justify-content: center;*/
    margin-left: 300px;
    margin-right: 300px;
}